mavenCentralUsername=<your-sonatype-username>
mavenCentralPassword=<your-sonatype-password>

signingInMemoryKey=<gpg-private-key-block>
signingInMemoryKeyId=<gpg-key-id>
signingInMemoryKeyPassword=<gpg-key-password>

POM_NAME=korafx-dsl
POM_DESCRIPTION=Kotlin-friendly JavaFX DSL module for KoraFX.
POM_INCEPTION_YEAR=2026
POM_URL=https://github.com/DaiYuANg/koraFX
POM_LICENSE_NAME=The Apache License, Version 2.0
POM_LICENSE_URL=https://www.apache.org/licenses/LICENSE-2.0.txt
POM_LICENSE_DIST=repo
POM_DEVELOPER_ID=DaiYuANg
POM_DEVELOPER_NAME=DaiYuANg
POM_DEVELOPER_URL=https://github.com/DaiYuANg
POM_SCM_URL=https://github.com/DaiYuANg/koraFX
POM_SCM_CONNECTION=scm:git:https://github.com/DaiYuANg/koraFX.git
POM_SCM_DEV_CONNECTION=scm:git:ssh://git@github.com/DaiYuANg/koraFX.git
